.dialog-pane {
    -fx-background-color: #181818;
    -fx-border-color: #E50914;
    -fx-border-width: 2;
}

.dialog-pane .header-panel {
    -fx-background-color: #202020;
    -fx-padding: 10;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #E50914;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 3;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #f6121d;
}

.dialog-pane .graphic-container {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-background-radius: 8;
}
