BorderPane {
    -fx-background-color: #141414;
}

ScrollPane {
    -fx-background: #141414;
    -fx-background-color: #141414;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: #141414;
}

VBox {
    -fx-spacing: 0.0;
}

Label {
    -fx-text-fill: #e5e5e5;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.15em;
}

#labelNovita, #labelPopolari,#labelConsigliati{
    -fx-text-fill: #e50914;
}

#listNovita,
#listConsigliati,
#listPopolari,
#listGeneri {
    -fx-background-color: transparent;
    -fx-padding: 0 0 10 5;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#listNovita .list-cell,
#listConsigliati .list-cell,
#listPopolari .list-cell,
#listGeneri .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0 8 0 0;
    -fx-alignment: CENTER_LEFT;
}

#listNovita .list-cell:filled:selected,
#listConsigliati .list-cell:filled:selected,
#listPopolari .list-cell:filled:selected,
#listGeneri .list-cell:filled:selected {
    -fx-background-color: transparent;
}

#listNovita .list-cell:filled:hover,
#listConsigliati .list-cell:filled:hover,
#listPopolari .list-cell:filled:hover,
#listGeneri .list-cell:filled:hover {
    -fx-background-color: transparent;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 20, 0.2, 0, 5);
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #555555;
    -fx-background-radius: 3;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}


.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 3;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}


#listNovita .scroll-bar:vertical,
#listConsigliati .scroll-bar:vertical,
#listPopolari .scroll-bar:vertical,
#listGeneri .scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-width: 0;
}

.list-cell .label {
    -fx-text-fill: #f5f5f5;
}

.banner-poster:hover {
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 25, 0.2, 0, 5);
}

.banner-poster {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
